@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.embla {
  max-width: 100%;
  margin: auto;
  --slide-height: 19rem;
  --slide-spacing: 1rem;
  --slide-size: 100%;
  --slide-spacing-sm: 1.6rem;
  --slide-size-sm: 50%;
  --slide-spacing-lg: 2rem;
  --slide-size-lg: calc(100% / 3);
  background: #ec9f01;
  padding: 5rem;
}
.arrow-button {
  background: #ffffff;
  border-radius: 1rem;
}
.embla__viewport {
  overflow: hidden;
}
.embla__container {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
  /* gap: 1rem; */
}
@media (min-width: 750px) {
  .embla__container {
    margin-left: calc(var(--slide-spacing-sm) * -1);
  }
}
@media (min-width: 1200px) {
  .embla__container {
    margin-left: calc(var(--slide-spacing-lg) * -1);
  }
}
.embla__slide {
  min-width: 0;
  flex: 0 0 var(--slide-size);
  padding-left: var(--slide-spacing);
}
@media (min-width: 750px) {
  .embla__slide {
    flex: 0 0 var(--slide-size-sm);
    padding-left: var(--slide-spacing-sm);
  }
}
@media (min-width: 1200px) {
  .embla__slide {
    flex: 0 0 var(--slide-size-lg);
    padding-left: var(--slide-spacing-lg);
  }
}
.embla__slide__number {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  border-radius: 1.8rem;
  font-size: 4rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--slide-height);
  user-select: none;
}
.embla__controls {
  display: flex;
  /* grid-template-columns: auto 1fr; */
  align-items: center;
  justify-content: space-between;
  gap: 1.2rem;
  margin-top: 0rem;
  width: 100%;
  margin-bottom: 2rem;
}
.embla__buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.6rem;
  align-items: center;
}
.embla__button {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 3.6rem;
  height: 3.6rem;
  z-index: 1;
  border-radius: 50%;
  color: var(--text-body);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: end;
}
.embla__button:disabled {
  color: var(--detail-high-contrast);
}
.embla__button__svg {
  width: 35%;
  height: 35%;
}
.embla__dots {
  display: flex;
  /* flex-wrap: wrap;
  justify-content: flex-end; */
  /* align-items: center; */
  margin-right: calc((2.6rem - 1.4rem) / 2 * -1);
}
.embla__dot {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  width: 2.6rem;
  height: 2.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.embla__dot:after {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  content: "";
}
.embla__dot--selected:after {
  box-shadow: inset 0 0 0 0.2rem var(--text-body);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  transition-property: all ease-in-out;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
a {
  cursor: pointer;
}

.image-text_name {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 17%;
}
.header {
  border-bottom: 1px solid rgba(128, 128, 128, 0.42);
}
.nav-text {
  font-size: 14px;
  font-weight: 600;
  padding: 0.3rem;
  border-radius: 0.2rem;
}
.button-nav {
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 15px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.welcome-page {
  width: 100%;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 10rem;
}
.welcome-container {
  width: 100%;
  display: flex;
  align-items: center;
}
.welcome-image {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.welcome-text h1 {
  font-size: 70px;
  font-weight: 700;
  width: 65%;
}
.welcome-text p {
  font-size: 20px;
  font-weight: 400;
  width: 80%;
}
.welcome-button {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 2.5rem;
}
.home-words {
  background: rgb(1, 67, 1);
  padding: 5rem;
  margin-top: 5rem;
}
.home-green {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.home-green_text h1 {
  font-size: 50px;
  font-weight: 600;
  line-height: 82.5px;
  color: #ffffff;
  width: 75%;
  margin-left: 4rem;
}
.simplify {
  display: flex;
  gap: 3rem;
}
.simplify-view {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: #ffffff;
}
.simplify-view h2 {
  font-size: 28px;
  font-weight: 700;
}
.simplify-view p {
  width: 50%;
  color: #ffffffd8;
}
.icon {
  margin-top: 0.5rem;
}
.home-button {
  background: #ec9f01;
  padding-top: 12px;
  padding-left: 46px;
  padding-bottom: 12px;
  padding-right: 46px;
  font-size: 18px;
  font-weight: 700;
  margin: 4rem;
  margin-bottom: 0;
}
.span {
  color: #ec9f01;
}

.bizz-contain {
  padding: 5rem;
}
.bizz-image {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bizz-texts_h1 {
  font-family: DM Sans;
  font-size: 21px;
  font-weight: 700;
  color: grey;
}
.bizz-text h1 {
  font-size: 50px;
  font-weight: 700;
}
.bizz-text p {
  width: 70%;
}
.bizz-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.person-image {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.person-text h1 {
  font-size: 50px;
  font-weight: 700;
  width: 98%;
  /* display: flex;
  text-align: end; */
}
.person-text p {
  width: 80%;
}
.person-text {
  display: flex;
  flex-direction: column;
  /* width: 100%; */
  gap: 1rem;
}
.person-texts {
}
.person-texts_h1 {
  font-family: DM Sans;
  font-size: 21px;
  font-weight: 700;
  color: grey;
}
.footer-container {
  background: #0f3d30;
  color: #ffffff;
  padding: 5rem;
}
.send-foot {
  border-bottom: 1px solid grey;
  margin-bottom: 5rem;
}
.foot-image {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.foot-tx {
  width: 60%;
  font-size: 18px;
}
.foot-nav {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.foot-nav h2 {
  font-size: 19px;
  cursor: pointer;
}
.foot-fllw {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.foot-fllw h2 {
  font-size: 19px;
  font-weight: 500;
}
.foot-side h1 {
  font-size: 40px;
  font-weight: 600;
}
.foot-side p {
  font-size: 18px;
  font-weight: 400;
}
.foot-input input {
  width: 100%;
  padding: 0.5rem;
}
.foot-input {
  width: 100%;
  display: flex;
  gap: 0.3rem;
}
.foot-input button {
  background: #ec9f10;
  padding: 0rem 1rem 0rem 1rem;
}
.get-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.get-container p {
  width: 40%;
  text-align: center;
  font-size: 18px;
}
.get-container h1 {
  font-size: 44px;
  font-weight: 700;
}
.get-button {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 0.8rem;
}
.question-contain {
  background: #0f3d30;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5rem;
  gap: 3rem;
  /* width: 80%; */
  /* margin-bottom: 2rem; */
}
.question-contain h1 {
  font-size: 44px;
  font-weight: 700;
}
.right-place_container {
  padding: 5rem;
}
.right-place {
  background: #c9fce9;
  border-radius: 1rem;
  padding: 3rem 3rem 0rem 3rem;
  display: flex;
  width: 100%;
}
.right-place_text h1 {
  font-size: 44px;
  font-weight: 700;
  width: 100%;
}
.right-place_text p {
  font-size: 18px;
  width: 50%;
  font-weight: 500;
}
.locate-text {
  justify-content: center;
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
}
.locate-text h2 {
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  width: 30%;
}
.location-container {
  padding: 12rem 0rem 8rem 0rem;
}
.current-location {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.current-locate_absolute {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #c9fce9;
  padding: 2rem;
  width: 45%;
  position: absolute;
  gap: 1rem;
  border-radius: 0.8rem;
}
.current-locate_absolute h1 {
  font-size: 34px;
  font-weight: 600;
}
.current-locate_absolute p {
  font-size: 19px;
  font-weight: 500;
}
.current-input {
  width: 100%;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 3rem;
}
.current-input select {
  width: 60%;
  padding: 0.5rem;
  font-size: 18px;
  font-weight: 500;
  border-radius: 0.3rem;
}
.current-input button {
  background: #ec9f10;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  border-radius: 0.3rem;
}
.ads-image {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  /* position: relative; */
}
.ads-images {
  /* position: absolute;
  top: -22px; */
}
.master-option {
  color: #ffffff;
}
.accord-backg {
  background: #0f3d3064;
  border-radius: 0.3rem;
  color: #ffffff;
  box-shadow: inset;
  border: 0.1px solid #ffffff51;
}
.accord-text {
  border-top: 1px solid #ffffff;
}
.abt-text {
  font-size: 28px;
  font-weight: 500;
  color: #0f3d30;
}
.abt-ptn_contain {
  padding: 10rem 1rem 5rem 1rem;
}
.text-about_contain {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.text-about {
  position: absolute;
  width: 50%;
  background: #ffffff;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  box-shadow: 4px 2px 12px 6px rgba(68, 68, 88, 0.096);
}
.text-about h2 {
  color: #ec9f01;
  font-size: 28px;
  font-weight: 500;
}
.text-about h1 {
  font-size: 38px;
  font-weight: 500;
  margin-bottom: 1rem;
}
.text-about p {
  text-align: center;
  width: 85%;
  color: #121212;
}
.mission {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5rem;
}
.miss-text {
  margin-left: 8rem;
}
.miss-text h1 {
  font-size: 38px;
  font-weight: 600;
}
.miss-text p {
  /* width: 70%; */
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 0.72px;
}
.story {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5rem;
  background: #0f3d30;
  color: #ffffff;
}
/* .miss-text {
  margin-left: 8rem;
} */
.story-text h1 {
  font-size: 38px;
  font-weight: 600;
}
.story-text p {
  /* width: 70%; */
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 0.72px;
}
.meet-our {
  background: #c9fce9;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding: 5rem;
}
.meet-our h1 {
  font-size: 38px;
  font-weight: 700;
}
.team-text h1 {
  font-size: 22px;
  font-weight: 500;
}
.team-text p {
  font-size: 16px;
  font-weight: 400;
}
.view-text h1 {
  font-size: 44px;
  font-weight: 600;
  width: 70%;
  text-align: center;
}
.view-text button {
  background: #ec9f10;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
  border-radius: 0.3rem;
}
